extends ../shared/template

block content
  h1= title

  .row
    .small-12.columns
      #memoriesMap
      &nbsp
  .row
    .small-12.columns
      #coordinates.hide= coordinates
  .row
    .small-12.columns
      table
        thead
          th WHEN
          th WHERE
  .row
    .small-12.columns
      each memory in memories
        .row
          .small-12.columns.containerindex
            .row.displaybreakindex
              a.small-6.columns(href='/memory/'+memory._id.toString())
                if memory.title.length > 30
                  h4.memoryindextitle= memory.title.slice(0,30).toUpperCase()+'...'
                else
                  h4.memoryindextitle= memory.title.toUpperCase()
              .small-6.columns
                if memory.whenDateModified
                  h4.indextime= moment(memory.whenDateModified).format('ddd MMM Do, YYYY, h:mm a')
                else
                  h4.indextime= moment(memory.whenDateCreated).format('ddd MMM Do, YYYY, h:mm a')
            .row.displaybreak
              .small-4.columns.memorywhyindex
                if memory.selfie
                  div.memoryselfieindex(style='background-image:url(' + memory.selfie + ')')
                h4 why
                div= memory.why.slice(0,300)+'...'
              .small-4.columns
                h4 who
                each who in memory.who
                  button.tiny.radius.individualindex= who
                h4 what
                each tag in memory.whatTags
                  span.tags= tag
                label &nbsp
              .small-4.columns
                label &nbsp
                if memory.where
                  img.memorymap(src='http://maps.googleapis.com/maps/api/staticmap?center='+memory.where.lat+','+memory.where.lng+'&zoom=15&size=400x200&markers=color:blue%7C'+memory.where.lat+','+memory.where.lng+'&sensor=false&key=AIzaSyD7SHoaSpx_SkDf3Qr3MSza5U3qtnEhATw')
                  ul.activitydata.activityoverlay
                    li.venuename#venuename= memory.where.venuename
                    li= memory.where.venueaddress
                    li= memory.where.venuecitystate
                if memory.historicweather
                  span.activitydata= 'Mean Temp: ' + memory.historicweather.meantemp
                  span.activitydata= ', Max Temp: ' + memory.historicweather.maxtemp
                  span.activitydata= ', Min Temp: ' + memory.historicweather.mintemp
                  span.activitydata= ', Total Precipitation: ' + memory.historicweather.precip
                else if memory.currentweather
                  div
                    img.weathericon(src= memory.currentweather.icon)
                    span.activitydata= ' ' + memory.currentweather.description + ', felt like '
                    span.activitydata= memory.currentweather.feelslike
            .row
              label &nbsp
              .small-12.columns
                if memory.photos
                  if memory.photos.length > 4
                    - for(var i=0; i < 4; i++)
                      img.memoryphotosindex(src= memory.photos[i])
                  else if memory.photos.length > 0
                    each photo in memory.photos
                      img.memoryphotosindex(src= photo)

block scripts
  script(src='/js/source/memoryIndex.js')
