extends ../shared/template

block content
  h1= title

  .row
    .small-12.columns
      #memoriesMap
      &nbsp
  .row
    .small-12.columns
      #coordinates.hide= coordinates
  .row
    .small-12.columns
      each memory in memories
        .row.container
          .small-12.columns
            .row
              .small-7.columns#memorytitle
                h4 Title
                div= memory.title.toUpperCase()
              .small-5.columns#memorywhen
                h4 When
                if memory.whenDateModified
                  div= moment(memory.whenDateModified).format('MMMM Do YYYY, h:mm:ss')
                else
                  div= moment(memory.whenDateCreated).format('MMMM Do YYYY, h:mm:ss')
            .row
              .small-7.columns#memorywho
                h4 Who
                each who in memory.who
                  span.individual= who
              .small-5.columns#memorywhat
                h4 What
                each tag in memory.whatTags
                  span.tags= tag
            .row
              .small-7.columns#memorywhy
                h4 Why
                div= memory.why
              .small-5.columns#memorywhere
                h4 Where
                if memory.historicweather
                  span.activitydata= 'Mean Temp: ' + memory.historicweather.meantemp
                  span.activitydata= ', Max Temp: ' + memory.historicweather.maxtemp
                  span.activitydata= ', Min Temp: ' + memory.historicweather.mintemp
                  span.activitydata= ', Total Precipitation: ' + memory.historicweather.precip
                else
                  div
                    img.weathericon(src= memory.currentweather.icon)
                    span.activitydata= ' ' + memory.currentweather.description + ', felt like '
                    span.activitydata= memory.currentweather.feelslike
                if memory.where
                  img(src='http://maps.googleapis.com/maps/api/staticmap?center='+memory.where.lat+','+memory.where.lng+'&zoom=15&size=400x200&markers=color:blue%7C'+memory.where.lat+','+memory.where.lng+'&sensor=false&key=AIzaSyD7SHoaSpx_SkDf3Qr3MSza5U3qtnEhATw')
                  #lat.hide= memory.where.lat
                  #lng.hide= memory.where.lng
                  table
                    tbody
                      tr
                        td.icon(style='background-image:url(' +memory.where.icon+ ')')
                        td
                          ul.activitydata
                            li.venuename#venuename= memory.where.venuename
                            li= memory.where.venueaddress
                            li= memory.where.venuecitystate
            .row
              .small-12.columns
                a(href='/memory/'+memory._id.toString()) View This Memory
        .row
          .small-12.columns
            &nbsp
block scripts
  script(src='/js/source/memoryIndex.js')
