extends ../shared/template

block content
  h1 AddContxt

  .row
    .small-3.columns
      label &nbsp
    .small-6.columns.container
      .row.displaybreak
        .small-12.columns
          h3.memorytitle= memory.title.toUpperCase()
      .row
        .small-6.columns.memorywhen
          if memory.whenDateModified
            div.time= moment(memory.whenDateModified).format('MMMM Do YYYY, h:mm:ss a')
          else
            div.time= moment(memory.whenDateCreated).format('MMMM Do YYYY, h:mm:ss a')
        .small-6.columns.memorywhere
          if memory.historicweather
            span.activitydata= 'Mean Temp: ' + memory.historicweather.meantemp
            span.activitydata= ', Max Temp: ' + memory.historicweather.maxtemp
            span.activitydata= ', Min Temp: ' + memory.historicweather.mintemp
            span.activitydata= ', Total Precipitation: ' + memory.historicweather.precip
          else if memory.currentweather
            div
              img.weathericon(src= memory.currentweather.icon)
              span.activitydata= ' ' + memory.currentweather.description + ', felt like '
              span.activitydata= memory.currentweather.feelslike
      .row.displaybreak
        .small-12.columns
          &nbsp
          if memory.selfie
            div.memoryselfie(style='background-image:url(' + memory.selfie + ')')
          &nbsp
      .row
        .small-6.columns.memorywho
          h3 who
          each who in memory.who
            span.individual= who
        .small-6.columns.memorywhat
          h3 what
          each tag in memory.whatTags
            span.tags= tag
      .row
        &nbsp
        .small-12.columns.memorywhy
          h3 why
          div= memory.why
      .row
        .small-12.columns.memorywhere
        if memory.where
          #lat.hide= memory.where.lat
          #lng.hide= memory.where.lng
          table
            tbody
              tr
                td.icon(style='background-image:url(' +memory.where.icon+ ')')
                td
                  ul.activitydata
                    li.venuename#venuename= memory.where.venuename
                    li= memory.where.venueaddress
                    li= memory.where.venuecitystate
      .row
        &nbsp
        #map
      .row
        .small-12.columns.photoview
          &nbsp
          if memory.photos
            if memory.photos.length > 0
              h3 photos
              each photo in memory.photos
                img.memoryphotos(src= photo )
    .small-3.columns
      label &nbsp

block scripts
  script(src='/js/source/memoryShow.js')
